/*通用*/
body{
	margin:0;
	background:#FFFFF9;
}
ul,li{
	margin:0px;
	padding:0px;
}
a{
	font-size:14px;
	text-decoration:none;
}
ul li{
	list-style:none;
}
/*通用*/

/*头部*/
header nav.web_nav{
	position:fixed;
	height:28px;
	width:100%;
	background:#545652;
	line-height:26px;
}
header nav.web_nav div{
	display:inline-block;
}
header nav.web_nav ul li{
	float:left;
	margin-left:20px;
}
header nav.web_nav ul li a{
	font-size:12px;
	color:#b5b5b5;
}
header nav.web_nav ul li a:hover{
	color:white;
}
header nav.web_nav div.web_nav_right{
	float:right;
	margin-right:15px;
}
header nav.web_nav div.web_nav_left{
	float:left;
	margin-left:3px;
}

header nav.read_nav{
	height:150px;
	width:100%;
	background:#F6F6F1;
}
header nav.read_nav div.search{
	position:relative;
	top:28px;
	width:960px;
	height:80px;
	margin:0 auto;
	line-height:80px;
}
header nav.read_nav div.search a{
	display:inline-block;
}
header nav.read_nav div.search form{
	width:650px;
	display:inline-block;
	margin-left:20px;
}
header nav.read_nav div.search form input[type="text"]{
	height:26px;
	width:500px;
	vertical-align:8px;
	border-radius:4px;
	border:0;
}
header nav.read_nav div.search form input[type="submit"]{
	position:absolute;
	right:329px;
	top:20px;
	font-size:0;
	display:inline-block;
	border-radius:0 4px 4px 0;
	border:0;
	height:27px;
	width:27px;
	background:url('../img/read/nav_bg_search.png') no-repeat -5px -42px;
	cursor:pointer;
}
nav.read_nav div.search div{
	display:inline-block;
	position:absolute;
	top:14px;
	right:0px;
	height:40px;
	width:150px;
	text-align:center;
	background:#825D5B url('../img/read/icon-phone.png') no-repeat 12px 10px;
	border:1px solid #825D5B;
	border-radius:4px;
	cursor:pointer;
}
nav.read_nav div.search div a{
	font-size:14px;
	color:white;
	position:relative;
	top:-20px;
	left:12px;
}
nav div.read_dh{
	position:relative;
	top:30px;
	width:100%;
	height:40px;
	border-top:1px solid #EEE;
}
nav div.read_dh div:nth-child(1){
	width:960px;
	margin:0 auto;
	line-height:36px;
}
nav div.read_dh div ul li{
	float:left;
	padding-right:32px;
}
nav div.read_dh div ul li a{
	border:1px solid red;
	height:20px;
	color:#825D5B;
}
nav div.read_dh div ul li a:hover{
	color:#fff;
	background:#825D5B;
}


/*头部*/